/* Main Stylesheet - imports all CSS modules */

@import url('./css/base.css');
@import url('./css/header.css');
@import url('./css/search.css');
@import url('./css/recipes.css');
@import url('./css/responsive.css');