/* Main Stylesheet - imports all CSS modules */

@import url('./css/base.css');
@import url('./css/header.css');
@import url('./css/quiz.css');
@import url('./css/timer.css');
@import url('./css/responsive.css');